@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
body {
  background: #020631 !important;
  color: white !important;
  overflow-x: hidden;
}

p {
  margin: 0 !important;
  margin-left: 0.75em !important;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

span input {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo {
  font-family: "Orelega One", Verdana, Tahoma, sans-serif;
  font-size: 2em;
}

.add-todo {
  position: absolute;
  top: 0;
  right: 2.5%;
  color: black;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

.add-todo:hover {
  color: #383838;
}

.remove-todo {
  -webkit-animation: todoDelete 1s;
          animation: todoDelete 1s;
}

.remove-todo-btn {
  color: black !important;
  height: 100%;
  cursor: pointer;
  border: none;
}

.remove-todo-btn:hover {
  color: #383838;
}

@-webkit-keyframes todoDelete {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-140%);
            transform: translateX(-140%);
  }
}

@keyframes todoDelete {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-140%);
            transform: translateX(-140%);
  }
}

.form-check-input {
  cursor: pointer;
}

.form-check-input:focus {
  border-color: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.todo {
  padding: 0 !important;
  list-style: none;
  min-height: 20vh;
}

.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  margin: 1em auto !important;
  width: 60vw;
  border-radius: 5px;
  background-color: white;
  font-weight: 600;
  color: black;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  padding-right: 0.25em !important;
}

.todo i {
  color: #cccccc;
}

.todo-item::-moz-selection {
  background: none;
}

.todo-item::selection {
  background: none;
}

.completed {
  color: #fff !important;
  -webkit-animation: flipX 400ms ease-in-out;
          animation: flipX 400ms ease-in-out;
  background-color: #5529dc;
}

.completed p {
  text-decoration: line-through;
}

.completed i {
  color: white !important;
}

@-webkit-keyframes flipX {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(160deg);
            transform: rotateX(160deg);
  }
}

@keyframes flipX {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(160deg);
            transform: rotateX(160deg);
  }
}
/*# sourceMappingURL=style.css.map */